body {
    font-family: sans-serif;
    background-color: #D4F7FF;
}
header{
    background-color: #7BA5FF;
    
}
a header{
    color: #000000;
}
footer{
    background-color: #7BA5FF;
    color: #000000;
}
